<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163073269180-osq4dp8bt8c87pk57ctrsh4pjot2p2t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163073269180-osq4dp8bt8c87pk57ctrsh4pjot2p2t5</string>
	<key>API_KEY</key>
	<string>AIzaSyAd0m3biy76pbBdsjQqFM3NpxGskF9uJ3M</string>
	<key>GCM_SENDER_ID</key>
	<string>163073269180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myflutterapplication</string>
	<key>PROJECT_ID</key>
	<string>my-project-flutter-5fa63</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-flutter-5fa63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163073269180:ios:4be5c9ec8227b7668d9fb9</string>
</dict>
</plist>